@model Soulstice.DATA.EF.Instructor

@{
    ViewBag.Title = "Delete " + Model.InstructorName;
}



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div id="contentContainer">
        <h2 class="text-center mb-50">@ViewBag.Title</h2>
        <div id="contentLeft">
            <p><strong>@Html.DisplayNameFor(model => model.FirstName):</strong> @Html.DisplayFor(model => model.FirstName)</p>
            <p><strong>@Html.DisplayNameFor(model => model.LastName):</strong> @Html.DisplayFor(model => model.LastName)</p>
        </div>
        <div id="contentRight">
            <p> <strong>@Html.DisplayNameFor(model => model.Specialty):</strong> @Html.DisplayFor(model => model.Specialty)</p>
        </div>
        <div class="clearfix"></div>
        <p id="footerLeft"> @Html.ActionLink("Back to Instructors", "Index")</p>
        <p id="footerRight">
            <input type="submit" value="Delete" class="btn btn-default" />
        </p>


        <div class="clearfix"></div>
    </div>


}