@model Soulstice.UI.MVC.Models.RoleViewModel

@{
    ViewBag.Title = "Create New Role";
}


@using (Html.BeginForm("Create", "RolesAdmin", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal" id="contentContainer">
        <div id="editContainer">
            <h2 class="text-center">@ViewBag.Title</h2>
            @Html.ValidationSummary(true)
            <div class="form-horizontal">
                <div class="form-group">
                    @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2" })
                    <div class="col-md-12">
                        @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Name)
                    </div>
                </div>
                <div class="form-group">
                    <p id="footerLeft">  @Html.ActionLink("Back to Roles", "Index")</p>
                    <p id="footerRight"> <input type="submit" value="Save" class="btn btn-default" /></p>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
