@model Microsoft.AspNet.Identity.EntityFramework.IdentityRole

@{
    ViewBag.Title = "Delete " + Model.Name;
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div id="contentContainer">
        <h2 class="text-center mb-50">@ViewBag.Title</h2>
        <div class="text-center">
            <p><strong>@Html.DisplayNameFor(model => model.Name):</strong> @Html.DisplayFor(model => model.Name)</p>
        </div>
        <div class="clearfix"></div>
        <p id="footerLeft"> @Html.ActionLink("Back to Roles", "Index")</p>
        <p id="footerRight">
            <input type="submit" value="Delete" class="btn btn-default" />
        </p>
        <div class="clearfix"></div>
    </div>


}