@model Microsoft.AspNet.Identity.EntityFramework.IdentityRole

@{
    ViewBag.Title = "Details for " + Model.Name;
}



<div id="contentContainer">
    <h2 class="text-center mb-50">@ViewBag.Title</h2>
    <div id="contentLeft">
        <p><strong>@Html.DisplayNameFor(model => model.Name):</strong> @Html.DisplayFor(model => model.Name)</p>
    </div>
    <div id="contentRight">
        @if (ViewBag.UserCount == 0)
        {
            <p>No users found in this role.</p>
        }
        <h6>List of users in this role</h6>
        @foreach (var item in ViewBag.Users)
        {
            <p>
                @item.UserName
            </p>
        }

    </div>
    <div class="clearfix"></div>
    <p id="footerLeft"> @Html.ActionLink("Back to Roles", "Index")</p>
    <p id="footerRight"> @Html.ActionLink("Edit", "Edit", new { id = Model.Id})</p>
    <div class="clearfix"></div>
</div>