@model IEnumerable<Microsoft.AspNet.Identity.EntityFramework.IdentityRole>

@{
    ViewBag.Title = "Roles Admin";
}



<div class="container">
    <p>
        @Html.ActionLink("Create New Role", "Create")
    </p>
    <h2 class="text-center">@ViewBag.Title</h2>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>

            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a href="@Url.Action("Edit", "RolesAdmin", new { id = item.Id })">
                        @Html.DisplayFor(modelItem => item.Name)
                    </a>
                </td>
                <td style="letter-spacing: .5em;" class="text-right">
                    <span style="font-size: 1.5em;">
                        <a href="@Url.Action("Details", "RolesAdmin", new { id = item.Id })" title="Details" alt="Details">
                            <i class="fa fa-list-ul"></i>
                        </a>
                    </span>
                    <span style="font-size: 1.5em;">
                        <a style=" color: red;" href="@Url.Action("Delete", "RolesAdmin", new { id = item.Id })" title="Delete" alt="Delete">
                            <i class="fa fa-trash"></i>
                        </a>
                    </span>
                </td>
            </tr>
        }

    </table>
</div>

