@model Soulstice.UI.MVC.Models.StaffViewModel
@{
    ViewBag.Title = "Create New User";
}


@using (Html.BeginForm("Create", "UsersAdmin", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal" id="contentContainer">
        <div id="editContainer">
            <h2 class="text-center">@ViewBag.Title</h2>
            @Html.ValidationSummary("", new { @class = "text-error" })
            <div class="form-group">
                @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                <div class="col-md-12">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                <div class="col-md-12">
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
                <div class="col-md-12">
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">
                    Select User Role
                </label>
                <div class="col-md-12">
                    @foreach (var item in (SelectList)ViewBag.RoleId)
                    {
                        <input type="checkbox" name="SelectedRoles" value="@item.Value" class="checkbox-inline" />
                        @Html.Label(item.Value, new { @class = "control-label" })
                    }
                </div>
            </div>
            <div class="form-group">
                <p id="footerLeft">  @Html.ActionLink("Back to Users", "Index")</p>
                <p id="footerRight"> <input type="submit" value="Save" class="btn btn-default" /></p>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}