@model Soulstice.UI.MVC.Models.ApplicationUser

@{
    ViewBag.Title = "Delete";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div id="contentContainer">
        <h2 class="text-center mb-50">@ViewBag.Title</h2>
        <div class="text-center">
            <p><strong>@Html.DisplayNameFor(model => model.UserName):</strong> @Html.DisplayFor(model => model.UserName)</p>
        </div>
        <div class="clearfix"></div>
        <p id="footerLeft"> @Html.ActionLink("Back to Users", "Index")</p>
        <p id="footerRight">
            <input type="submit" value="Delete" class="btn btn-default" />
        </p>
        <div class="clearfix"></div>
    </div>


}
