@model Soulstice.UI.MVC.Models.ApplicationUser

@{
    ViewBag.Title = "Details";
}

<div id="contentContainer">
    <h2 class="text-center mb-50">@ViewBag.Title</h2>
    <div id="contentLeft">
        <p><strong>@Html.DisplayNameFor(model => model.UserName):</strong> @Html.DisplayFor(model => model.UserName)</p>
    </div>
    <div id="contentRight">
        @if (ViewBag.RoleNames.Count == 0)
        {
            <h6>No roles found for this user.</h6>
        }
        <h4>List of roles for this user</h4>
        @foreach (var item in ViewBag.RoleNames)
        {
            <p>
                @item
            </p>
        }
    </div>
    <div class="clearfix"></div>
    <p id="footerLeft"> @Html.ActionLink("Back to Users", "Index")</p>
    <p id="footerRight"> @Html.ActionLink("Edit", "Edit", new { id = Model.Id })</p>
    <div class="clearfix"></div>
</div>


