@model IEnumerable<Soulstice.DATA.EF.Class>

@{
    ViewBag.Title = "Class Schedule";
}

<div class="container">
    <h2 class="text-center">@ViewBag.Title</h2>
    <h6 class="text-center">Every Class is 8 weeks - Class Reservations are for the 8 Week Course</h6>
    <h6 class="text-center" style="color: red">@ViewBag.Message</h6>
    <h6 class="text-center"  style="color: red" >@ViewBag.EnrollmentMessage</h6>

    <p>
        @if (User.IsInRole("Admin"))
        {
            @Html.ActionLink("Add New Class", "Create")
        }
    </p>
    <table class="table" id="table_id">
        <thead>
            <tr>

                <th>
                    @Html.DisplayNameFor(model => model.ClassName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.WeekDay.DayOfWeek)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Fee)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Time)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Instructor.InstructorName)
                </th>

                <th></th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <a href="@Url.Action("Edit", "Classes", new { id = item.ClassID })">
                            @Html.DisplayFor(modelItem => item.ClassName)
                        </a>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.WeekDay.DayOfWeek)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Fee)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Time)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Instructor.FirstName)
                    </td>

                    <td style="letter-spacing: .5em;">
                        <span style="font-size: 1.5em;">
                            <a href="@Url.Action("Details", "Classes", new { id = item.ClassID })" title="Details" alt="Details">
                                <i class="fa fa-list-ul"></i>
                            </a>
                        </span>
                        @if (Request.IsAuthenticated)
                        {
                            <span style="font-size: 1.5em;">
                                <a style=" color: #1CC3B2;" href="@Url.Action("OneClickRes", "Classes", new { id = item.ClassID })" title="Reserve Spot Now" alt="Reserve Spot Now">
                                    <i class="fa fa-check-square"></i>
                                </a>

                            </span>
                        }
                        @if (User.IsInRole("Admin"))
                        {
                            <span style="font-size: 1.5em;">
                                <a style=" color: red;" href="@Url.Action("Delete", "Classes", new { id = item.ClassID })" title="Delete" alt="Delete">
                                    <i class="fa fa-trash"></i>
                                </a>
                            </span>
                        }

                    </td>

                </tr>
            }
        </tbody>

    </table>
</div>

@section scripts {
    <script>
        $(document).ready(function () {
            $('#table_id').DataTable();
        });
    </script>
}