@using Soulstice.DATA.EF;
@using Microsoft.AspNet.Identity
@model Soulstice.DATA.EF.Reservation


@{
    ViewBag.Title = "Create Reservation";
}
<!-- Welcome Area Start -->
<section class="welcome-area">
    <div class="welcome-slides owl-carousel">
        <!-- Single Welcome Slide -->
        <div class="single-welcome-slide bg-img bg-overlay" style="background-image: url(../Content/img/john-arano-h4i9G-de7Po-unsplash.jpg);" data-img-url="~/Content/img/john-arano-h4i9G-de7Po-unsplash.jpg">
            <!-- Welcome Content -->
            <div class="welcome-content h-100">
                <div class="container h-100">
                    <div class="row h-100 align-items-center">
                        <!-- Welcome Text -->
                        <div class="col-12">
                            <div class="welcome-text text-center">
                                <h6 data-animation="fadeInLeft" data-delay="200ms">Mind &amp; Body</h6>
                                <h6 data-animation="fadeInLeft" data-delay="200ms" class="quoteAPI"> </h6>
                                <h2 data-animation="fadeInLeft" data-delay="500ms">Soulstice</h2>
                                @if (Request.IsAuthenticated)
                                {
                                    <a href="@Url.Action("GymMemberReservation", "Reservations")" class="btn roberto-btn btn-2" data-animation="fadeInLeft" data-delay="800ms">Sign Up Now</a>
                                }

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Single Welcome Slide -->
        <div class="single-welcome-slide bg-img bg-overlay" style="background-image: url(../Content/img/scott-webb-Vn39uEkX00s-unsplash.jpg);" data-img-url="~/Content/img/scott-webb-Vn39uEkX00s-unsplash.jpg">
            <!-- Welcome Content -->
            <div class="welcome-content h-100">
                <div class="container h-100">
                    <div class="row h-100 align-items-center">
                        <!-- Welcome Text -->
                        <div class="col-12">
                            <div class="welcome-text text-center">
                                <h6 data-animation="fadeInUp" data-delay="200ms">Mind &amp; Body</h6>
                                <h6 data-animation="fadeInLeft" data-delay="200ms" class="quoteAPI"></h6>
                                <h2 data-animation="fadeInUp" data-delay="500ms">Soulstice</h2>
                                @if (Request.IsAuthenticated)
                                {
                                    <a href="@Url.Action("GymMemberReservation", "Reservations")" class="btn roberto-btn btn-2" data-animation="fadeInUp" data-delay="800ms">Sign Up Now</a>
                                }

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Single Welcome Slide -->
        <div class="single-welcome-slide bg-img bg-overlay" style="background-image: url(../Content/img/foto-garage-ag-PQGfC-J63VM-unsplash.jpg);" data-img-url="~/Content/img/foto-garage-ag-PQGfC-J63VM-unsplash.jpg">
            <!-- Welcome Content -->
            <div class="welcome-content h-100">
                <div class="container h-100">
                    <div class="row h-100 align-items-center">
                        <!-- Welcome Text -->
                        <div class="col-12">
                            <div class="welcome-text text-center">
                                <h6 data-animation="fadeInDown" data-delay="200ms">Mind &amp;Body</h6>
                                <h6 data-animation="fadeInLeft" data-delay="200ms" class="quoteAPI"> </h6>
                                <h2 data-animation="fadeInDown" data-delay="500ms">Soulstice</h2>
                                @if (Request.IsAuthenticated)
                                {
                                    <a href="@Url.Action("GymMemberReservation", "Reservations")" class="btn roberto-btn btn-2" data-animation="fadeInDown" data-delay="800ms">Sign Up Now</a>
                                }

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Welcome Area End -->
<!-- About Us Area Start -->
@if (Request.IsAuthenticated && User.IsInRole("Member"))
{



    using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <section class="roberto-about-area section-padding-100-0">
            <!-- Hotel Search Form Area -->
            <div class="hotel-search-form-area">
                <div class="container-fluid">
                    <div class="hotel-search-form">
                        <h2 class="text-center">@ViewBag.GymMember</h2>
                        <p style="color: red;"><em>@ViewBag.Message</em></p>
                        <p style="color: red;"><em>@ViewBag.EnrollmentMessage</em></p>
                        <h6 class="text-center" style="margin-bottom: 1.5em;">Every Class is 8 weeks -Classes start the week of January 6, 2020 - Fee Due at Time of Class</h6>
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="row justify-content-center">
                            <div class="col-md-8 col-sm-4">
                                @Html.TextBox("DateSubmitted", DateTime.Now, new { @readonly = "readonly", style = "Display: none;" })
                                @Html.DropDownList("Classid", null, "Select a Class", htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Class.ClassID, "", new { @class = "text-danger" })
                            </div>

                        </div>

                        <div class="form-group text-center">
                            <input type="submit" value="Sign Up Now" class="roberto-btn" />
                        </div>
                    </div>
                </div>
            </div>
        </section>

    }
}
<section>
<div class="container mt-100">
    <div class="row align-items-center">
        <div class="col-12 col-lg-6"  style="
    z-index: -2500;">
            <!-- Section Heading -->
            <div class="section-heading wow fadeInUp" data-wow-delay="100ms">
                <h6>About Us</h6>
                <h2>Welcome to <br>Soulstice</h2>
            </div>
            <div class="about-us-content mb-100">
                <h5 class="wow fadeInUp" data-wow-delay="300ms">Soulstice is here to help you to become the best version of yourself. With world class instructors and facilities Soulstice has proven to be the place to do that.</h5>
            </div>
        </div>
        <div class="col-12 col-lg-6">
            <div class="about-us-thumbnail mb-100 wow fadeInUp" data-wow-delay="700ms">
                <div class="row no-gutters">
                    <div class="col-6">
                        <div class="single-thumb">
                            <img src="~/Content/img/man-lifting-a-barbell-116078.jpg" alt="">
                        </div>
                        <div class="single-thumb">
                            <img src="~/Content/img/woman-lifting-barbell-1552249.jpg" alt="">
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="single-thumb">
                            <img src="~/Content/img/active-adult-biceps-body-416809.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    </section>


<script>

    var quote = @ViewBag.Test;
    console.log(quote);


</script>