@using Soulstice.DATA.EF
@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{

    SoulsticeEntities db = new SoulsticeEntities();

    string userID = User.Identity.GetUserId();

    GymMember currentUser = db.GymMembers.Where(x => x.GymID == userID).FirstOrDefault();

    string userName = "Guest";


    if (currentUser != null)
    {
        userName = currentUser.FirstName;
    }

    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        if (User.IsInRole("Admin") || (User.IsInRole("Staff")))
        {
            <li>@Html.ActionLink($"Hi, {userName}!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })</li>
        }
        else
        {
            <li><a href="@Url.Action("Edit", "GymMembers", new { id = currentUser.GymID } )">Hi, @userName!</a></li>
        }
    }
}
else
{

    <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
    <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>

}








