@model Soulstice.UI.MVC.Models.LoginViewModel

@{
    ViewBag.Title = "Log in";
}

@section styles{
    <style>
        .mainContent {
            padding-bottom: 75em;
        }
    </style>
}

<section class="roberto-about-area section-padding-100-0">

    <!-- Hotel Search Form Area -->
    <div class="hotel-search-form-area">
        <div class="container-fluid " id="loginContainer">
            <div class="hotel-search-form">
                @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <h2 class="text-center mb-30">@ViewBag.Title</h2>
                    <div class="row justify-content-center">
                        <div class="col-5">

                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Password" })
                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-5">

                            @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Password" })
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                        </div>
                        <div>
                            <input type="submit" value="Login" class="form-control btn roberto-btn" />
                        </div>
                    </div>

                }
                <p class="text-center">
                    @Html.ActionLink("Forget your password?", "ForgotPassword")
                </p>
                <p class="text-center">
                    @Html.ActionLink("Register a new user?", "Register")
                </p>
                @*<div class="clear"></div>*@
            </div>

        </div>

    </div>
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}