@model Soulstice.DATA.EF.Reservation

@{
    ViewBag.Title = "Edit Reservation for " + Model.GymMember.FullName;
}

@*<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Reservation</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ReservationID)

        <div class="form-group">
            @Html.LabelFor(model => model.GymID, "GymID", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("GymID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.GymID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ClassID, "ClassID", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("ClassID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ClassID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}*@


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal" id="contentContainer">
        <div id="editContainer">
            <h2 class="text-center">@ViewBag.Title</h2>
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.ReservationID)
            @Html.HiddenFor(model => model.GymID)

            <div class="row">


                <div class="col-md-6">
                    @Html.LabelFor(model => model.GymMember.FirstName, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.GymMember.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.GymMember.FirstName, "", new { @class = "text-danger" })
                </div>


                <div class="col-md-6">
                    @Html.LabelFor(model => model.GymMember.LastName, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.GymMember.LastName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.GymMember.LastName, "", new { @class = "text-danger" })
                </div>

            </div>

            <div class="row form-group">
                @Html.LabelFor(model => model.Class.ClassName, htmlAttributes: new { @class = "control-label col-md-2 mt-15" })
                <div class=" col-md-12">

                    @Html.DropDownList("ClassID", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Class.ClassID, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <p id="footerLeft">  @Html.ActionLink("Back to Reservations", "Index")</p>
                <p id="footerRight"> <input type="submit" value="Save" class="btn btn-default" /></p>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
