@using Soulstice.DATA.EF;
@using Microsoft.AspNet.Identity
@model Soulstice.DATA.EF.Reservation

@{
    ViewBag.Title = "Create Reservation";


}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal" id="contentContainer">
        <div id="editContainer">
            <h2 class="text-center">@ViewBag.GymMember</h2>
            <p style="color: red;"><em>@ViewBag.Message</em></p>
            <h6 class="text-center">Every Class is 8 weeks - Class Reservations are for the 8 Week Course</h6>

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="row">
                <div class="offset-2 col-md-8">
                    @Html.TextBox("DateSubmitted", DateTime.Now, new { @readonly = "readonly", style = "Display: none;" })
                    @Html.DropDownList("Classid", null, "Select a Class - Fee Due at Time of Class", htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Class.ClassID, "", new { @class = "text-danger" })
                </div>

            </div>

            <div class="form-group" style="margin-top: 2em;">
                <p id="footerLeft">  @Html.ActionLink("View All Classes", "Index", "Classes")</p>
                <p id="footerRight"> <input type="submit" value="Create" class="btn btn-default" /></p>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

